
html {
    font-size: 1vw;
    scroll-behavior: smooth;
}



body {
    background-color: #201103;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
}

header nav {
    padding: 0.75rem 1.5rem;    
    width: fit-content;
    margin: 0 auto;
    border-radius: 3rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)),
        linear-gradient(180deg, rgba(255, 255, 255, 0.08) -2.94%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(60px);
    box-shadow: 0px 54px 66px 0px #4F3A8940 inset, 0px 1.5px 1.5px 0px #FFFFFF29 inset;
    color: #fff;
}



.content {
    padding: 0 9.5rem;
}

.drawer {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    color: white;
    transition: bottom 0.3s ease-in-out;
    z-index: 50;
}

.drawer-content {
    position: relative;
    z-index: 40;
}

.drawer-overflow {
    position: fixed;
    transition: all 0.3s ease-in-out;
    background-color: #000000d5;
}

.drawer[data-opened="true"] .drawer-overflow {
    inset: 0;
}

.drawer[data-opened="true"] {
    bottom: 0
}




.pagination {
    text-align: center;
    display: flex;
    gap: 3.5rem;
    align-items: center;
    justify-content: center;
}

.pagination button {
    width: 2rem;
    height: 2rem;
    border: none;

    border-radius: 0.375rem;
    cursor: pointer;
}

.pagination button:first-child, .pagination button:last-child {
    background: #6938EF;
    width: 2.75rem;
    height: 2.75rem;
}

.pagination button:first-child svg, .pagination button:last-child svg {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto;
}


.pagination button.active {
    background-color: white;
    color: black;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.ac-container div {
    background-color: #00000040;
    border-radius: 1rem;
}

.ac-container label {
    padding: 1.25rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}
.ac-container label svg {
    transition: all 0.3s ease-in-out;
}

.ac-container input:checked + label {
    cursor: default;
    color: #7A5AF8;
} 

.ac-container input:checked + label svg {
    transform: rotate(180deg);
} 


.ac-container input{
    display: none;
}

.ac-container article{
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container input:checked ~ article {
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    height: 9rem;
}

.ac-container article p{

    padding: 1.25rem;

}


footer {
    position: relative;
    z-index: 10;
}


@media(max-width: 768px) {
    html {
        font-size: 3vw;
    }
    .content {
        padding: 0 1rem;
    }
    header nav ul li[data-mobile-disable] {
        display: none;
    }
    .pagination {
        gap: 1.5rem;
        font-size: 1.25rem;
    }
    .pagination button {
        width: 2.5rem;
        height: 2.5rem;
        border: none;
    
        border-radius: 0.375rem;
        cursor: pointer;
    }
    
    .pagination button:first-child, .pagination button:last-child {
        background: #6938EF;
        width: 3.25rem;
        height: 3.25rem;
    }
    .ac-container input:checked ~ article {
        height: 14rem;
    }
}
