

.shadow-card {
    box-shadow: 0px 6.79px 21.73px 0px #FF7300 inset,
    0px 43.45px 54.32px 0px #583BDC inset,
    0px 16.3px 21.73px 0px #9A89E6 inset,
    0px 2.72px 5.43px 0px #FFFFFF inset;

    width: 17rem;
    
    backdrop-filter: blur(21.727397918701172px);
    
}

@media(max-width: 768px) {
    .shadow-card {
        width: 80%;
    }
}